<div class="container-fluid">
  <div class="navbar">
    <img src="\assets\images\flightlogo.png" class="logo navbar nav-fixed">
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="#"><strong>Home</strong></a>
      </li>
      <li class="nav-item">

        <a class="nav-link" href="mytrips"><strong>Team </strong>&emsp;
          <img src="\assets\images\aaicon.png" alt="logo" style="width:20px;" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact"><strong>Flights</strong></a>
      </li>

    </ul>

  </div>

  <!--content-->

  <div class="row">
    <div class="col-md-8 pt-3 pl-5">
      <h1 class="display-6"><strong>Hi,</strong>{{admin}} </h1><br>


      <div class="row">


        <div class="col">
          <div class="card text-center" style="background-color: #9ec6bd;">
           <button class="btn" href="#" style="color: black;">
            <div class="card-body">
              <h4 class="display-4">Profile</h4>
            </div></button>
          </div>

        </div>


        <div class="col">
          <div class="card text-center" style="background-color: #9ebbc6;">
            <button class="btn" href="#" style="color: black;">
              <div class="card-body">
                <h5 class="display-4">Flights</h5>

              </div>
            </button>
          </div>

        </div>
        

        <div class="col">
          <div class="card text-center" style="background-color: #9ea7c6;">
            <button class="btn" href="#" style="color: black;">
              <div class="card-body">
                <h5 class="display-4">Team</h5>

              </div>
            </button>
          </div>

        </div>

      </div>


    </div>




    <!-- <div class="row">
            <div class="col">
              <div class="card text-center" style="background-color: #9ec6bd;">
                <div class="card-body">
                  <h4 class="display-4">Profile</h4>
                </div>
              </div>

            </div>
            <div class="col">
              <div class="card">
                <a>
                <div class="card-body text-center" style="background-color: #9ebbc6;"> 
                  <h5 class="display-4">Flights</h5>
                 
                </div>
              </a>
              </div>

            </div>
            <div class="col">
              <div class="card">
                <a>
                <div class="card-body text-center" style="background-color: #9ea7c6;">
                  <h4 class="display-4">Team</h4>
                </div>
              </a>
              </div>
            </div>
          </div> -->





  </div>
  <div class="col-md-4">.col-sm-3</div>

</div>